<!DOCTYPE html>
<html>
    <head>
        <!-- title is found in the index.server.controller.js file in controllers folder -->
        <title><%= title %></title><title></title>>
    </head>
    <body>
        <!-- copy image to public/img folder -->
        <img src="img/img1.png" alt="schedule" />
        <h1><%= title %></h1>
    </body>
</html>
